/*Accueil document recherche admin */
.mainTabs a:link, .mainTabs a:visited {
    color: #ffffff;
    display: inline-block;
    font-size: 1.3em;
  padding: 0 0.4em;
}

/*permet de changer le bouton "profil" pour afficher un fond blanc lors du survol*/
.nx-page .dropdown, .nx-page .dropdown:hover{
  background: url('/nuxeo/icons/dropdown.png') no-repeat scroll right center;
  background-color: #fff;
  letter-spacing: 0.05px;
  line-height: 130%;
  padding: 0.4em 1.5em 0.43em 0.8em;
  text-transform: none;
  color: black;
}
/* boutton login */
.nx-page .dropdown, .nx-page .dropdown{
  background: url('/nuxeo/icons/dropdown.png') no-repeat scroll right center;
  background-color: black;
  letter-spacing: 0.05px;
  line-height: 130%;
  padding: 0.4em 1.5em 0.43em 0.8em;
  text-transform: none;
  color: white;
}

/***********************************************************************************************/
/*Copyright © 2001-2016 Nuxeo et les auteurs respectifs.*/
.copyrights {
    color: #222222;
    float: left;
    opacity: 0.65;
  padding: 0.2em 2em 0 0;
}


/*elements du footer*/
.presCopyrightsContent {
  display:block;
  text-align:center
}

/*elements du footer 1 */
.presCopyrightsContent ul.presMembers li:first-child {
  display: inline;
  list-style: none outside none;
  padding: 10px;
  padding-bottom:10px;
  background-color:#00AECB;
  border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-right-radius:2px;
  color:white;
}

/*elements du footer 2 */
.presCopyrightsContent ul.presMembers li:nth-child(2) {
  display: inline;
  list-style: none outside none;
  padding: 10px;
  padding-bottom:10px;
  background-color:#2372B9;
  border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-right-radius:2px;
  color:white;
}

/*elements du footer 3 */
.presCopyrightsContent ul.presMembers li:nth-child(3) {
  display: inline;
  list-style: none outside none;
  padding: 10px;
  padding-bottom:10px;
  background-color:#BDCD00;
  border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-right-radius:2px;
  color:white;
}

/*elements du footer 4 */
.presCopyrightsContent ul.presMembers li:nth-child(4) {
  display: inline;
  list-style: none outside none;
  padding: 10px;
  padding-bottom:10px;
  background-color: #4CC083;
  border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-right-radius:2px;
  color:white;
}

/*elements du footer 5 */
.presCopyrightsContent ul.presMembers li:nth-child(5) {
  display: inline;
  list-style: none outside none;
  padding: 10px;
  padding-bottom:10px;
  background-color: #346E6A;
  border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-right-radius:2px;
  color:white;
}

/***********************************************************************************************/
/* HEADER AVEC LOGO SID */
.bloc-marque {
	color: #BDCD00;
	font-weight: lighter;
    font-family: "Ubuntu",sans-serif;
    font-size: 3.5em;
    position: relative;
    /*top: -12px;*/
    left: 8px;
    display: block;
    padding-top: 10px;
}

.bloc-marque_2 {
	font-weight: lighter;
    font-family: "Ubuntu",sans-serif;
    font-size: 2.5em;
    position: relative;
    /*top: -12px;*/
    left: 8px;
    display: block;
    color: #00B0EB;
    margin-top: 10px;
	
}

.logo_ulr {
	width: 150px;
	display: block;
	float: left;
	clear: both;
}

.text {
	height: 120px;
}
.branding {
	font-weight: lighter;
}

.branding_p {
	margin-top: 0;
	margin-bottom: 0;
}

.sid {
	font-weight:bold;
	margin-right: 20px;
}

.sid_full {
	font-weight: 300;
}

.sid_storage_space {
	color:#5BC5F1;
	font-size: 40px;
	display:block;
	width: 100%;
}
.main_header {
     background-color: #f3f6f9;
}
/***********************************************************************************************/


.nxHeader {
    background-color: #000000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    height: 10em;
    line-height: initial;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1041;
}

.nxHeader + .nxMainContainer {
    margin-top: 11.7em;
}

.nxMainContainer .column, .nxMainContainer .verticalTabsColumn, .nxMainContainer .nxSearchForm {
    background: none #d4ecfc;
    bottom: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    font-size: 0.85em;
    overflow-y: auto;
    padding: 15em 1em;
    position: fixed;
    top: 0;
    transition: width 0.1s ease 0.5ms;
}

.nxMainContainer .verticalTabsColumn {
    padding: 6em 0;
    padding-top: 15em;
    padding-right: 0px;
    padding-bottom: 6em;
  padding-left: 0px;
}

/* pour eviter que le logo ne soit plus grand que voulu*/
.nxHeader .logo_ulr {
    float: left;
    line-height: 2.8em;
    padding-left: 1.6em;
    vertical-align: middle;
    margin-top: 10px;
  
}
/* permet a la div content de prendre toute la largeur --> pousse le contenu a gauche*/
.nxHeader .content {
   /* float: right;*/
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
}

/* les boutons du header sont recentres*/
.userServicesBlock {
    float: left;
    line-height: 44px;
  margin-left: 220px;
}


/* pour que le menu gauche de recherche soit suffisament bas pour etre entierement visible*/
.nxMainContainer .nxSearchForm {
    background-color: #fff;
    font-size: 0.8em;
  padding: 15.7em 1.5em 5em;
}


/******************************************/
/* EXPERIMENTATION RESPONSIVE WEB DESGIN  */
/******************************************/
@media all and (min-width: 768px) and (max-width: 992px){
	.bloc-marque {
		color: #BDCD00;
		font-weight: lighter;
		font-family: "Ubuntu",sans-serif;
		font-size: 2.5em;
		position: relative;
		top: -12px;
		left: 8px;
		display: block;
		padding-top: 10px;
	}

	.bloc-marque_2 {
		font-weight: lighter;
		font-family: "Ubuntu",sans-serif;
		font-size: 1.5em;
		position: relative;
		top: -12px;
		left: 8px;
		display: block;
		color: #00B0EB;
		margin-top: 10px;

	}

	.logo_ulr {
		width: 150px;
		display: block;
		float: left;
		clear: both;
	}

	.text {
		height: 120px;
	}
	.branding {
		font-weight: lighter;
	}

	.branding_p {
		margin-top: 0;
		margin-bottom: 0;
	}

	.sid {
		font-weight:bold;
		margin-right: 20px;
	}

	.sid_full {
		font-weight: 300;
	}

	.sid_storage_space {
		color:#5BC5F1;
		font-size: 40px;
		display:block;
		width: 100%;
	}
	.main_header {
		background-color: #f3f6f9;
	}
}

@media all and (min-width: 992px) and (max-width: 1200px){
	.bloc-marque {
		color: #BDCD00;
		font-weight: lighter;
		font-family: "Ubuntu",sans-serif;
		font-size: 2.5em;
		position: relative;
		top: -12px;
		left: 8px;
		display: block;
		padding-top: 10px;
	}

	.bloc-marque_2 {
		font-weight: lighter;
		font-family: "Ubuntu",sans-serif;
		font-size: 1.5em;
		position: relative;
		top: -12px;
		left: 8px;
		display: block;
		color: #00B0EB;
		margin-top: 10px;

	}

	.logo_ulr {
		width: 150px;
		display: block;
		float: left;
		clear: both;
	}

	.text {
		height: 120px;
	}
	.branding {
		font-weight: lighter;
	}

	.branding_p {
		margin-top: 0;
		margin-bottom: 0;
	}

	.sid {
		font-weight:bold;
		margin-right: 20px;
	}

	.sid_full {
		font-weight: 300;
	}

	.sid_storage_space {
		color:#5BC5F1;
		font-size: 40px;
		display:block;
		width: 100%;
	}
	.main_header {
		background-color: #f3f6f9;
	}
}


/* Paragraphes en bleu par défaut */
p
{
    color: blue;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 768px)
{
    .bloc-marque {
		color: #BDCD00;
		font-weight: lighter;
		font-family: "Ubuntu",sans-serif;
		font-size: 1.5em;
		position: relative;
		top: -12px;
		left: 8px;
		display: block;
		padding-top: 10px;
	}

	.bloc-marque_2 {
		font-weight: lighter;
		font-family: "Ubuntu",sans-serif;
		font-size: 1.5em;
		position: relative;
		top: -12px;
		left: 8px;
		display: block;
		color: #00B0EB;
		margin-top: 10px;

	}

	.logo_ulr {
		width: 150px;
		display: block;
		float: left;
		clear: both;
	}

	.text {
		height: 120px;
	}
	.branding {
		font-weight: lighter;
	}

	.branding_p {
		margin-top: 0;
		margin-bottom: 0;
	}

	.sid {
		font-weight:bold;
		margin-right: 20px;
	}

	.sid_full {
		font-weight: 300;
	}

	.sid_storage_space {
		color:#5BC5F1;
		font-size: 40px;
		display:block;
		width: 100%;
	}
	.main_header {
		background-color: #f3f6f9;
	}
}